#basic-button-autor {
  width: 50%;
}

.css-10botns-MuiInputBase-input-MuiFilledInput-input {
  width: 20% !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding-right: 100px !important;
}
